body, html { width:100%; }

body { background:url('http://i44.tinypic.com/fxbcpd.jpg'); 
       color:white; 
       font-family:"arial"; }
#sidebar {
background:blue;
width:15%;
height:100%;
float:right;
padding:0;
margins:0; 
color:white;
font-family:'Arial'
-webkit-border-top-right-radius: 15px;
-moz-border-radius-topright: 15px;
border-top-right-radius: 15px;
opacity:0.6;
filter:alpha(opacity=60); /* For IE8 and earlier */}

#hte {
width:95%; }

#content {
background:black;
color:white;
width:85%;
float:left; 
-webkit-border-top-left-radius: 15px;
-moz-border-radius-topleft: 15px;
border-top-left-radius: 15px;
opacity:0.8;
filter:alpha(opacity=80); /* For IE8 and earlier */
}

#header {
width=100%;
float:top;  
opacity:0.8;
filter:alpha(opacity=80); /* For IE8 and earlier */
}

#tex {width:95%;
      padding:15px;}
#par {padding-bottom:100px;
      padding-left:10px;
 }

#wrapper {width:90%;}

#footer {width:100%;
         background:green;
         color:white; 
         border-radius:15px;
   opacity:0.8;
	 filter:alpha(opacity=80); /* For IE8 and earlier */}

.footer {
              width:90%;
              margin:10px 10px;
              background-color:#BDDAF1;
              opacity:0.7;
              filter:alpha(opacity=70); /* For IE8 and earlier */ 
              font-family:"Arial";
              color:black; 
              border-radius: 15px; 
              padding:0.5%;

}
